#SquareBox_g2ScmQ {
	width:19.81em;
	left:0.06em;
	top:7.81em;
	height:7.88em;
}
#Button_gAKPm0 {
	left:0em;
	top:0em;
}
#SwitchBtn_mg3Fly {
	left:8.56em;
	top:0em;
}
#SquareBox_8zNFpR {
	width:16.50em;
	left:1.94em;
	top:11.56em;
	height:12.56em;
}
#Slider_21VOUc {
	height:8.81em;
	top:-2.56em;
}
#MultiListView_Fy4wmb {
	height:10.88em;
	top:-41.6875;
}
